.header {
    height: 80px;
    background-color: #086cc4;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header__title {
    font-size: 40px;
    color: #fff;
    margin: 0;
}
.actionsWrapper {
    width: 40%;
    display: flex;
    gap: 20px;
}
.header__action {
    height: 40px;
    background-color: inherit;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    padding: 4px 10px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.5s;
}
.header__action:hover {
    background-color: #207ac9;
}
.header__searchField {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #207ac9;
    color: #fff;
    transition-duration: 0.5s;
    padding: 4px 20px;
    font-size: 20px;
    box-sizing: border-box;
}
.header__searchField:focus {
    background-color: #2187e1;
    outline: none;
}